html,body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
    color:white
}

/* NAVBAR */
.navbar{
    background-color: black;
    background-color: transparent;
    color:white;
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: center;
    z-index: 1;
}

.navbar__list{
    display:flex;
    margin: 10px 0;
}

.navbar__list-item{
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight:600;
}

.navbar__list-item a {
    color:white;
    font-weight: 600;
    padding: 10px 5px;
    position: relative;
}

@media (max-width: 768px) {
    .navbar__list-item {
        padding: 5px 10px;
    }
    .navbar__list-item a {
        font-size: 1rem;
    }
}


/*WELCOME SECTION*/
.welcome {
    height: 100vh;
    background-color: #120f23;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
