@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
    color:white;
    transition: 0.3s ease;
}

/* NAVBAR */
.navbar{
    background-color: black;
    background-color: transparent;
    color:white;
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: center;
    z-index: 1;
}

.navbar__list{
    display:flex;
    margin: 10px 0;
}

.navbar__list-item{
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight:600;
}

.navbar__list-item a {
    color:white;
    font-weight: 600;
    padding: 10px 5px;
    position: relative;
}

.navbar__list-item a,
.navbar__list-item a::after,
.navbar__list-item a::before {
    transition: all 0.4s;
}
.navbar__list-item a:hover {
    color: white;
}
.navbar__list-item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    width: 0%;
    background: #2ecc71;;
    height: 2px;
}
.navbar__list-item a:hover::after {
    width: 100%;
}


@media (max-width: 768px) {
    .navbar__list-item {
        padding: 8px 15px;
    }
    .navbar__list-item a {
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .navbar__list-item {
        padding: 5px 10px;
    }
    .navbar__list-item a {
        font-size: 1rem;
    }
}

@media (max-width: 532px) {
    .navbar__list-item {
        padding: 1px 1px;
    }
    .navbar__list-item a {
        font-size: 0.8rem;
    }
}

/*WELCOME SECTION*/
.welcome {
    height: 100vh;
    background-color: #120f23;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.welcome__title {
    font-size: 4.5rem;
    margin: 0;
    text-shadow: 1.20px 1.20px orange;
    letter-spacing: 1.8px;
}

.welcome__subtitle {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    text-shadow: 1px 1px orange;
    text-align: center;
}


@media (max-width: 768px) {
    .welcome__title {
        font-size: 3rem;
        text-shadow: none;
    }
    .welcome__subtitle {
        font-size: 1.5rem;
        text-shadow: none;
    }
}
@media (max-width: 576px) {
    .welcome__title {
        font-size: 2.3rem;
        margin-left: 0.5rem;
        line-height: 1.2;
    }
    .welcome__subtitle {
        margin-left: 0.5rem;
    }
}


/* Typing Effect Styling*/
.txt-type {
    color: orange;
    display: inline-block;
}
.cursor {
    width: 3px;
    background: white;
    display: inline-block;
    margin-left: 3px;
    animation: blink 1s infinite;
}
.cursor.typing {
    animation: none;
}
@keyframes blink {
    50% {
        background: transparent;
    }
}
@media (max-width: 576px) {
    .cursor {
        width: 2px;
    }
}

/* ABOUT SECTION */

.about {
    display: flex;
    justify-content: center;
}

.about__container {
    max-width: 1200px;
    padding-bottom:100px; 
    display: flex;
    margin: 6rem 0 2rem 0;
}

.about__desc {
    flex: 3;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    line-height: 1.6;
}

.about__pic {
    flex: 1;
    display: flex;
    justify-content: center;
}

.pic {
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background: url('https://picsum.photos/seed/picsum/200/300');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 4px black;
}


@media (max-width: 768px) {
    .about__container {
        flex-direction: column;
        margin-top: 3rem;
    }
    .about__desc {
        order: 2;
        font-size: 1.4rem;
        padding-top: 1rem;
    }
    .about__pic {
        order: 1;
    }
}

@media (max-width: 576px) {
    .about__desc {
        font-size: 1.25rem;
    }
}


/* EDUCATION SECTION*/
.education{
    color:#fff;
    background: #111;
    padding:130px 0;
}

.edu__container{
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}

.education .edu__heading{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.education .edu__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.education .edu__content .card{
    width:330px;
    height:450px;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 40px 25px;
    cursor: pointer;
    margin-bottom: 13px;
    margin-right:20px;
    transition: all 0.3s ease;
}
.education .edu__content .card:hover{
    background: crimson;
}
.education .edu__content .card .box{
    transition: all 0.3s ease;
}
.education .edu__content .card:hover .box{
    transform: scale(1.05);
}
.education .edu__content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.education .edu__content .card:hover i{
    color: #fff;
}
.education .edu__content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

@media(max-width:768px){
    .edu__container{
        padding: 0 50px;
        max-width: 930px;
    }
    .education .edu__content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media(max-width:680px){
    .edu__container{
        padding: 0 23px;
    }
    .education .edu__content .card{
        width:100%;
    }
}

/*SKILLS SECTION*/
.skills{
    padding-top:80px;
}
.skills__heading{
    text-align: center;
    color:#111;
    padding:1rem;
    position: relative;
}

.skills__heading:after{
    content:"";
    position: absolute;
    bottom:0;
    left:505;
    transform:translateX(-50%);
    height:4px;
    width:100px;
    background-color:#2ecc71;
    border-radius: 2px;
}

.skills__container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    justify-content: center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding:1rem 80px;
    font-size:1.2rem;
}

.skill__box{
    padding:1rem;
    color:#111;
    cursor:pointer;
}

.skill__box:hover > .skill__title:after , .skill__box:hover > .skill__title:before{
    width:35px;
}

.skill__box:hover .skill__img{
    transform:translateY(-10px);
}

.skill__title{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0.5rem;
    margin-bottom:0.5rem;
    position: relative;
}

.skill__title:after{
    content:'';
    position:absolute;
    bottom:0;
    right:50%;
    width:0;
    height:4px;
    border-radius:2px 0 0 2px;
    background-color:#2ecc71;
    transition: .5s;
}

.skill__title:before{
    content:'';
    position:absolute;
    bottom:0;
    left:50%;
    width:0;
    height:4px;
    border-radius: 0 2px 2px 0 ;
    background-color:#2ecc71;
    transition: .5s;
}

.skill__img{
    width:90px;
    height:90px;
    position:relative;
    border-radius:45px;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.skill__img:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height:90px;
    background-color:rgba(100,100,100,0.5);
    border-radius: 45px 0 0 45px;
}

.skill__title h3{
    color:#111;
    margin-top:0.5rem;
}

.skill__icon{
    width:50px;
}

@media (max-width:768px){
    .skills__container{
        grid-template-columns: repeat(2,1fr);
        padding:2rem 50px;
    }
}

@media (max-width:576px){
    .skills__container{
        grid-template-columns: 1fr;
    }
}


/*PROJECTS SECTION*/
.projects {
    min-height: 100vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 7rem 0;
}
.projects__heading{
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}
.projects__outerbox {
    display: flex;
    margin: 0 4rem;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.projects__tile {
    padding: 0 0.5rem;
    max-width: 320px;
}
.projects__img {
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s all ease;
}
.projects__img:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.projects__name {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    font-weight: 600;
}
.projects__desc {
    min-height: 100px;
    opacity: 0.9;
    line-height: 1.5;
}
.projects__link {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.projects__link a {
    font-weight: 600;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 25px;
    transition: all 0.5s;
}
.projects__link a:hover {
    color: orange;
    background-color: black;
}
.projects__link-icon {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .projects__outerbox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .projects__tile {
        margin-bottom: 2rem;
    }
}
@media (max-width: 576px) {
    .projects {
        padding: 4rem 0;
    }
    .projects__heading {
        font-size: 2.25rem;
    }
    .projects__desc {
        text-align: center;
    }
}

/* CONTACT SECTION */
.contact{
    padding: 80px 0;
}

.contact__container{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.contact__heading{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.contact__heading::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.contact__heading::after{
    content: "Let's talk";
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.contact__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.contact__column{
    width: calc(50% - 30px);
}

.contact__text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact form .fields{
    display: flex;
}

.contact form .field,
.contact form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact form .textarea{
    height: 80px;
    width: 100%;
}

.contact form .name{
    margin-right: 20px;
}

.contact form .field input,
.contact form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact form .field input:focus,
.contact form .textarea textarea:focus{
    border-color: #2884da;
}

.contact form .textarea textarea{
  padding-top: 10px;
  resize: none;
}

.contact form .button__area{
  display: flex;
  align-items: center;
  justify-content:center;
}

.contact form .button__area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  margin-top: 20px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.contact form .button__area button:hover{
  color: crimson;
  background: none;
}


@media (max-width: 768px) {
    .contact__container{
        padding: 0 23px;
    }
    .contact .contact__content .contact__column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 576px) {
    
    form .fields{
        flex-direction: column;
    }
    form .name,
    form .email{
        margin: 0;
    }
    
}

/*FOOTER*/
.footer {
    padding: 0.5rem 0;
    background-color:black;
    display: flex;
    justify-content: center;
}
.footer__list {
    display: flex;
}
.footer__list a {
    transition: all 0.4s ease;
}
.footer__list a:hover {
    color: #2ecc71;;
}
.footer__list-item {
    font-size: 1.5rem;
    margin-right: 1rem;
}